@import "./../../../sass/function.scss";

$size-arrowrapper: 2.5rem;
$size-arrow: 20%;
$rotate-arrow: 45deg;
$rotate-arrow2: -45deg;

.pagination_desktop {
  @include flex(row, space-between);
  @include responsiveContainer(100%);
  width: 80%;
  margin: 1rem auto;
}

.button_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;

  .button {
    $size: 3rem;
    border-radius: 50%;
    transition: 0.5s;
    content: "";
    width: $size-arrowrapper;
    height: $size-arrowrapper;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border: 2px solid rgb(191, 191, 191);
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  [data-prev],
  [data-next] {
    position: relative;
    content: "";
    width: $size-arrowrapper;
    height: $size-arrowrapper;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border: 2px solid rgb(191, 191, 191);
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
    transition: 0.3s;
    &:hover {
      background-color: rgb(160, 212, 236);
    }
    &:active {
      background-color: rgb(109, 197, 238);
    }
  }

  [data-next] {
    right: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
  }

  [data-prev] {
    left: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
  }

  [data-prev]::before,
  [data-prev]::after {
    position: absolute;
    content: "";
    width: calc(100% / 2);
    height: $size-arrow;
    border-radius: 0 3px 3px 0px;
  }

  [data-prev]::before {
    background-color: rgba(150, 150, 150, 0.9);
    transform-origin: bottom left;
    transform: rotate($rotate-arrow);
    top: calc(50% - (40% / 2));
    left: 20%;
  }

  [data-prev]::after {
    background-color: rgba(79, 79, 79, 0.9);
    transform-origin: top left;
    transform: rotate($rotate-arrow2);
    top: calc(50% - (0% / 2));
    left: 20%;
  }

  [data-next]::before,
  [data-next]::after {
    position: absolute;
    content: "";
    width: calc(100% / 2);
    height: $size-arrow;
    z-index: 100;
    border-radius: 3px 0px 0px 3px;
  }

  [data-next]::before {
    background-color: rgba(79, 79, 79, 0.9);
    transform-origin: bottom right;
    transform: rotate($rotate-arrow);
    top: calc(50% - (10% / 2));
    left: 16%;
    z-index: 105;
  }

  [data-next]::after {
    background-color: rgba(150, 150, 150, 0.9);
    transform-origin: top right;
    transform: rotate($rotate-arrow2);
    top: calc(50% - (27% / 2));
    left: 16%;
    z-index: 102;
  }

  [data-prev]:hover,
  [data-next]:hover {
    transform: scale(1.2);
  }
}

.pagination_mobil {
  @include flex(row, space-between);
  @include responsiveContainer(100%);
  width: 100%;
  margin: 1rem auto;
}
