@import "./../../sass/function.scss";

.tooltip {
  position: relative;
  @include flexCenter();
  @include size(46px, 52px);
  cursor: pointer;
  &_container {
    background-color: rgba(3, 37, 65, 1);
    border-radius: 50%;
    @include flexCenter();
    @include size(45px);
    svg {
      @include size(16px);
      color: white;
    }
  }
}
