@import "./../../../core/sass/function.scss";

.banner {
  @include responsiveContainer(100%);
  position: relative;
}

.banner_content__img {
  overflow: hidden;
  position: relative;
  @include responsiveContainer(100%);
  min-height: 59vh;
  aspect-ratio: 480/143;
  &:before {
    @include fullAbsolute();
    background: linear-gradient(
      to right,
      rgb(212, 212, 212) 150px,
      rgba(219, 219, 219, 0.5) 100%
    );
    content: "";
  }

  img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
  }

  .backdrop_fail {
    position: relative;
    @include flex(column, center, flex-end);
    @include responsiveContainer(100%);
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(3, 37, 65, 1);
    aspect-ratio: 25/38;

    h2 {
      @include responsiveContainer(100%);
      font-size: 4rem;
      color: white;
      text-align: right;
    }

    &:before {
      @include fullAbsolute();
      background-color: rgba(182, 182, 182, 0.4);
      content: "";
    }
  }
}

.banner_inside {
  position: absolute;
  @include fullAbsolute();
  @include flex(row, flex-start, center, nowrap);
  @include responsiveContainer(var(--layout_width));
  min-height: 100%;
  height: 100%;
  gap: 2.5rem;
  margin: auto;
  padding: 0 3rem;

  &_img {
    min-width: 22.2%;
    max-width: 300px;
    max-height: 100%;
    aspect-ratio: 2/3;
    img {
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &_content {
    @include flex(column);
    flex: 1;
  }
}

.banner_header {
  @include responsiveContainer(100%);
  @include flex(column);
  margin: 0 0 1rem 0;

  .title_link,
  .title_date {
    font-size: 2.2rem;
  }

  .title_link {
    font-weight: 900;
    margin: 0 0.5rem 0 0;
  }

  .title_date {
    font-weight: 400;
  }

  .facts_container {
    @include flex(row);

    .genre {
      @include flex(row, center, flex-start, wrap);
      &_link {
        margin-right: 0.25rem;
        &:last-child {
          margin: 0;
        }
      }
    }
    .duration {
      @include flexCenter(row);
    }

    .genre:before,
    .duration:before {
      display: flex;
      @include size(7px);
      margin: 0 0.5rem;
      background-color: black;
      border-radius: 50%;
      content: " ";
    }
  }
}

.radial_and_tooltip {
  @include flexCenter(row);
  margin: 0 0 1.25rem 0;

  .radial_container {
    @include flexCenter(row);

    .radial_label {
      margin: 0 1.25rem 0 0.5rem;
      font-weight: 900;
    }
  }

  .tooltip_list {
    @include flexCenter(row);
    gap: 1.25rem;
  }
}

.trailer {
  @include flexCenter(row);
  margin: 0 1.5rem;
  cursor: pointer;

  &:hover {
    color: rgb(0, 110, 255);
    svg {
      color: rgb(0, 110, 255);
    }
  }

  &_text {
    @include flexCenter(row);
    gap: 0.5rem;
  }
}

.synopsis_container {
  @include flex(column);
  h2 {
    margin: 1rem 0;
  }
  .tagline {
    margin: 0 0 1.5rem 0;
    font-style: italic;
    color: rgb(71, 71, 71);

    @media screen and (max-width: 960px) {
      color: rgb(197, 197, 197);
    }
  }
}

$background_color: rgb(0, 0, 0);

@media screen and (max-width: 960px) {
  .banner_inside {
    position: static;
    @include flex(column);
    gap: 0;
    padding: 0;
    background-color: $background_color;

    a,
    span,
    p,
    h2 {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .banner_img__mobil {
    @include responsiveContainer(100%);
    @include flexCenter();
    position: relative;
    aspect-ratio: 20/9;

    &:before {
      @include fullAbsolute();
      background: linear-gradient(
        to right,
        $background_color 15%,
        rgba(219, 219, 219, 0.3) 30%
      );
      content: "";
    }

    img {
      width: 100%;
      height: 100%;
      margin-bottom: 1px;
      object-position: top;
      object-fit: cover;
    }
  }

  .banner_poster_wrapper {
    @include fullAbsolute();
    @include flex(column, center);
    content: " ";
  }

  .banner_poster__mobil {
    z-index: 100;
    @include responsiveContainer(27%);
    margin: 0 0 0 1rem;
    aspect-ratio: 2/3;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  .banner_inside_content {
    @include responsiveContainer(100%);
    padding: 1rem 0 2rem 0;
    .title_content {
      @include flexCenter();
      @include responsiveContainer(100%);
    }
  }

  .radial_tablet {
    @include flex(row, space-around, center);
    @include responsiveContainer(100%);
    margin: 1.25rem 0;
    padding: 0 1rem;
    .radial_container {
      @include flex(row);
    }

    .radial_label {
      margin: 0 0 0 0.5rem;
    }

    .trailer {
      margin: 0;
    }
  }

  .banner_header {
    .facts_container {
      @include responsiveContainer(100%);
      @include flexCenter(column-reverse);
      margin: 0 0 1rem 0;
      padding: 0.75rem 1rem;
      background-color: rgba(58, 58, 58, 0.8);
      border-top: 1px solid rgb(168, 168, 168);
      border-bottom: 1px solid rgb(168, 168, 168);

      .duration {
        margin: 0 0 0.25rem 0;
      }

      .genre:before,
      .duration:before {
        display: none;
      }
    }

    .title_content {
      padding: 0 1rem;

      a {
        flex: 1;
      }
    }

    .title_link,
    .title_date {
      font-size: calc(0.7em + 3vw);
    }
  }

  .synopsis_container {
    padding: 0 1rem;
    h2 {
      margin: 0 0 1rem 0;
    }
  }

  // re-order content of
}

.hr_vertical {
  display: inline-block;
  width: 1px;
  height: 1.5rem;
  background-color: black;
  content: " ";
}

@media screen and (max-width: 400px) {
  .radial_tablet {
    @include flex(row, space-between, center);
  }
}

.video_container {
  overflow: hidden;
  position: relative;
  @include flexCenter();
  width: var(--video_width);
  height: calc(var(--video_width) / 16 * 9);
  padding-top: -56.25%;
  background-color: black;
  .responsive_iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
