@import "./../../../core/sass/function.scss";

.banner {
  @include responsiveContainer(100%);
  position: relative;
}

.banner_content__img {
  @include responsiveContainer(100%);
  height: 59vh;
  position: relative;
  &:before {
    content: "";
    @include fullAbsolute();
    background: linear-gradient(
      to right,
      rgba(117, 117, 117, 0.9) 150px,
      rgba(219, 219, 219, 0.4) 100%
    );
  }

  img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .backdrop_fail {
    background-color: rgba(3, 37, 65, 1);
    @include flex(column, center, flex-end);
    @include responsiveContainer(100%);
    aspect-ratio: 25/38;
    padding: 0 2rem;
    position: relative;
    @include responsiveContainer(100%);
    height: 59vh;

    h2 {
      @include responsiveContainer(100%);
      text-align: right;
      font-size: 4rem;
      color: white;
    }

    &:before {
      content: "";
      @include fullAbsolute();
      background-color: rgba(182, 182, 182, 0.4);
    }
  }
}

.banner_inside {
  position: absolute;
  @include fullAbsolute();
  @include responsiveContainer(var(--layout_width));
  margin: auto;
  @include flex(row, flex-start, center);
  gap: 2rem;
  max-height: 80%;
  padding: 0 3rem;

  &_img {
    img {
      border-radius: 10px;
    }
  }

  &_content {
    @include flex(column);
    align-self: stretch;
    flex: 1;
  }
}
