@import "./../../../core/sass/function.scss";

.banner_content__img {
  @include responsiveContainer(100%);
  height: 59vh;

  img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
