@import "./../../../../sass/function.scss";

.layout {
  position: relative;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.form_content {
  @include flexCenter();
  @include responsiveContainer(100%);
  position: relative;

  svg {
    @include size(1rem);
  }

  .cross_icon {
    cursor: pointer;
    svg {
      color: grey;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        color: black;
      }
    }
  }
}

.bloc_input {
  @include flexCenter(column);
  span {
    @include flex(row, center, center);
    @include responsiveContainer(100%);
    border-bottom: 1px solid;
  }
  button {
    display: block;
    width: var(--layout_width);
    height: 44px;
    text-align: left;
    background-color: transparent;
    border: none;
    padding: 1rem 3rem;
    font-style: italic;
    font-size: 14px;
    svg {
      margin-right: 1rem;
    }

    &:hover {
      transition: 0.3s;
      background-color: rgba(226, 226, 226, 0.4);
    }
  }
}

.searchInput {
  border: none;
  flex: 1;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1rem;
  font-style: italic;
  font-family: Arial, sans-serif;
  height: 44px;

  &:focus {
    outline: none;
  }
}
