@import "./../../sass/function.scss";

.radialContainer {
  @include flex(row);
  height: 50px;

  .radialContent {
    @include flexCenter(column);
    position: relative;
    box-sizing: content-box;
    background-color: rgba(8, 28, 34, 1);
    border-radius: 50%;

    p {
      color: white;
      @include flexCenter(row);
      font-weight: 600;
      font-size: 100%;
      font-family: Arial, sans-serif;

      sup {
        margin-top: 2px;
        font-size: 8px;
        font-weight: 200;
        align-self: flex-start;
      }
    }

    input {
      position: absolute;
      text-align: center;
      font-weight: bold;
      border: none;
      text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
        0 0 0.5em rgb(0, 0, 0);

      &:disabled {
        color: rgb(255, 255, 255);
        background-color: transparent;
      }
    }

    canvas {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .radialLabel {
    margin: 1rem 0;
    font-size: 16px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    transform: rotate(-20deg) translateX(20px);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
      0 0 0.5em rgb(0, 0, 0);
  }
}
