@import "./../../sass/function.scss";

.radialContainer {
  @include flex(row);
  margin: 0 0 0 0.75rem;
  height: 50px;

  .radialContent {
    background-color: rgba(8, 28, 34, 1);
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    @include flexCenter(column);

    input {
      position: absolute;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      border: none;
      text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
        0 0 0.5em rgb(0, 0, 0);

      &:disabled {
        background-color: transparent;
        color: rgb(255, 255, 255);
      }
    }

    canvas {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .radialLabel {
    text-align: center;
    margin: 1rem 0;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    transform: rotate(-20deg) translateX(20px);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
      0 0 0.5em rgb(0, 0, 0);
  }
}
