@import "./../../../../sass/function.scss";

.lang_button {
  position: relative;
  @include flexCenter();
  @include size(30px);
  border: 2px solid white;
  border-radius: 5px;
  p {
    color: white;
    line-height: 1rem;
  }
}

.country_list {
  position: absolute;
  right: -75px;
  top: calc(100% - 10px);
  @include flex(column);
  width: 300px;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);

  @media screen and (max-width: 1600px) {
    right: 0;
  }
  &:before {
    position: absolute;
    top: -8px;
    left: centerAbsolute(16px);
    @include emptyContent();
    @include size(16px);
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    @media screen and (max-width: 1600px) {
      left: 215px;
    }
    @media screen and (max-width: 600px) {
      left: 231px;
    }
  }

  footer {
    @include flex(column);
    @include responsiveContainer(100%);
    gap: 0.75rem;
    span {
      @include flex(row, space-between, center);
      @include responsiveContainer(100%);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: rgb(204, 204, 204);
        transition: 0.5s;
      }
      button {
        font-weight: 700;
        background-color: transparent;
        border: none;
      }
      svg {
        height: 2rem;
      }
    }
  }
}
