@import "./../../core/sass/function.scss";

.media_page {
  @include responsiveContainer(100%);
  @include flex(column);
  padding: 4rem 2rem;

  h2 {
    text-transform: capitalize;
  }

  &__content {
    @include flex(row);
    gap: 2rem;
    margin: 4rem 0;
    @include responsiveContainer(100%);

    .aside_container {
      @include flex(column);
      gap: 2rem;
    }

    .bloc_aside {
      background-color: rgb(255, 255, 255);
      padding: 1rem;
      border-radius: 8px;
      border: var(--border);
      box-shadow: var(--shadow);
      min-width: 260px;
    }
  }
}
