@import "./../../core/sass/function.scss";

.movies_pages {
  @include responsiveContainer(100%);
  @include flex(column);

  h1 {
    @include responsiveContainer(100%);
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .list_item {
    gap: 2rem;
    @include flex(row, space-between);

    @media screen and (max-width: 500px) {
      @include flex(row, center);
    }
  }
}
