@import "./../../sass/function.scss";

.filter_container {
  margin: 1rem 0;
  @include flex(column);
  gap: 1rem;

  .bloc_input {
    @include flex(row-reverse, space-between);
    @include responsiveContainer(100%);

    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background-color: rgb(187, 187, 187);
    }

    input {
      @include size(1rem);
      accent-color: rgb(0, 110, 255);
    }
  }
  label {
    @include responsiveContainer(100%);
    @include flex(row, space-between);
    padding: 0.5rem;
  }

  label > input[type="radio"]:checked {
    color: blue;
  }

  label,
  input {
    cursor: pointer;
  }
}
